body {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;   
}
.header{
    width: 100%;
    height: 60px;
    background-color: rgb(49, 53, 92);
    color: white;
}

.header-left {
    margin-left: 30px;
}

.header-left img {
    width: 35px;
    border-radius: 50%;
    padding: 10px;
    float: left;
}
.header-right {
    float: right;
    margin-right: 30px;
}
.header-left h1 {
    font-size:  18px;
    float: left;

}

.header-left li {
    font-size: 18px;
    float: left;
    margin-top: 20px;
}
.header-right li {
    float: left;
    list-style: none;
    margin-top: 0;
    padding: 10px;
    color: white;
}
.header-right li a {
    color: aliceblue;
}
.header-right li a:hover {
    background-color: rgb(155, 78, 78);
    border-radius: 5px;
}

/*  ini untuk bg hero */

.bg-hero {
    width: 100;
    height: 450px;
    background-image: url(img-1.jpg);
    background-size: cover;
    background-position: center;
    padding-top: 30px;
}

.bg-hero h1 {
    width: 900px;
    font-size: 66px;
    color: rgb(170, 152, 152) ;
    margin-left: 50px;
    text-align: center;
}

.bg-hero a {
    color: white;
    text-decoration: none;
    margin-left: 50px;
    padding: 10px;
    background-color: rgb(91, 182, 177);
}

.bg-hero a:hover {
    background-color: rgb(83, 102, 206);

}

.judul h1 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
.judul p {
    text-align: center;
}
.gambar {
    margin: 10%;
}

.gambar img {
    width: 500px;
}

.gambar img:hover {
    opacity: 0.9;
}
.footer{
    margin-top: 40px;
    padding: 10px 100px 30px 100px;
    background-color: rgb(0, 0, 0);
}
.footer img {
    width: 35px;
    border-radius: 10px;
    float: right;
}

.footer span{
    color: rgb(255, 255, 255);
}

.span {
    text-align: center;
}

